body{
  font-family: sans-serif;
  background-color: lightgray;
}
ul.horizontal {
        margin-left: 100px;
        padding:0;
        }
ul.horizontal li{
    display:block;
    float:left;
    padding:0 10px;
    }
.ecabezado, .contenido, .titulo, .pie_pagina{
    margin-left: 100px;
    border: 1px dashed red;
}
.descripcion{
  border: 1px dashed black;
  width: auto;
  height: 800;
  display: inline-block;

}
.extras{
  width: 250px;
  height: 800px;
  float: left;
  padding-top: 10px;
  border: 1px dashed blue;
}
.pie_pagina{
  text-align: center;
  color: red;
  height: 30px;
  width: auto;
  padding: 10px;
  display: block;

}
p, .titulo, .encabezado{
  padding-left: 50px;
}
img{
  width: 40%;
  height: 40%;
}
h1{
  text-align: center;
  text-transform: capitalize;
  color: blue;
  font-family: cursive;
  font-size: 64px;
}
